*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #0f151c;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3,
h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #ced4da;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .logo-container {
  width: 30%;
}
.navigation .logo-container .logo {
  display: inline-block;
  font-weight: 300;
  color: #f8f9fa;
}
.navigation .logo-container .logo:hover {
  cursor: pointer;
}
.navigation .nav-links {
  width: 60%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navigation .nav-links a {
  font-weight: 300;
}
.navigation .nav-links .im {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.navigation .nav-link {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.dropdown + a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown:hover {
  background-color: #18212d;
}
.dropdown:hover .dropdown__content {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0%);
}
.dropdown__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #18212d;
  box-shadow: 0.3rem 0.4rem 0.6rem black;
  overflow-x: hidden;
  transform: translateY(15%);
  transition: all 0.2s ease-in;
}
.dropdown__content--link {
  align-self: stretch;
  font-size: 1.4rem;
  padding: 3px 10px;
  width: 100%;
  height: 100%;
}
.dropdown__content--link:hover {
  background-color: #212e3d;
}

#header {
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 5rem;
}

.content-loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.content-loader-img {
  width: 90%;
  height: 50%;
}
.content-loader-text {
  width: 90%;
  height: 20%;
}
.content-loader-img, .content-loader-text {
  position: relative;
  overflow: hidden;
  margin: auto;
  background-color: #5d6974;
}
.content-loader-img::before, .content-loader-text::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #5d6974 0%, #adb5bd 30%, #5d6974 100%);
  transform: translateX(-100%);
  animation: slideIn 1.2s cubic-bezier(0.25, 0.81, 0.36, 1) infinite;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}
.apod {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 90vh;
  margin: auto;
  color: #ced4da;
}
.apod__container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.apod__container--media {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.apod__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  padding: 2rem;
}
.apod__text h3 {
  width: 100%;
  font-size: 3.6rem;
  font-weight: 400;
}
.apod__container, .apod__text {
  width: 45%;
  height: 40rem;
  overflow: hidden;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
