/*
0 - 600px:  Phones
600 - 900px:  Tablets potraits
900 - 1200px:  Tablets landscapes
1200 - 1800px:  Normal desktops
1800px + :  Big desktops
*/
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/
.primary-heading {
  display: block;
  font-size: 3.6rem;
  font-weight: lighter;
  text-align: center;
  color: #000000;
  padding: 1rem 0rem;
  margin: 0rem auto;
  background-color: #f8f9fa;
}

.secondary-heading {
  display: block;
  font-size: 3.6rem;
  font-weight: lighter;
  text-align: center;
  color: #f8f9fa;
  padding: 1rem 0rem;
  margin: 1rem auto;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.shadow-on {
  background-color: #0f151c;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.8);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scrollbar-track {
  background-color: transparent !important;
}

.scrollbar-thumb {
  background: rgba(248, 249, 250, 0.5) !important;
  width: 5px !important;
  height: 80px !important;
  transition-property: width, height, background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.scrollbar-thumb:hover {
  width: 15px !important;
  height: 100px !important;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (max-width: 56.3em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #0f151c;
  margin: 0 auto;
  color: #ced4da;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3,
h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #ced4da;
}
a:hover {
  text-decoration: none;
  color: currentColor;
}

.navigation {
  position: fixed;
  width: 100%;
  min-height: 10vh;
  z-index: 50;
  padding: 0 5%;
  transition: all 100ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation .logo-container .logo {
  display: inline-block;
  font-weight: 300;
  color: #f8f9fa;
  width: 15rem;
  height: auto;
  margin-top: 1rem;
}
.navigation .logo-container .logo:hover {
  cursor: pointer;
}
.navigation .nav-links {
  width: 60%;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 56.3em) {
  .navigation .nav-links {
    display: none;
  }
}
.navigation .nav-links a {
  font-weight: 300;
}
.navigation .nav-links .im {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.navigation .nav-link {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.dropdown + a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown .im.im-arrow-down {
  margin-left: -1px;
}
.dropdown:hover {
  background-color: #18212d;
}
.dropdown:hover .dropdown__content {
  opacity: 1;
  pointer-events: initial;
  transform: translateY(0%);
}
.dropdown__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: #18212d;
  box-shadow: 0.3rem 0.4rem 0.6rem black;
  overflow-x: hidden;
  transform: translateY(15%);
  transition: all 0.2s ease-in;
}
.dropdown__content--link {
  align-self: stretch;
  font-size: 1.4rem;
  padding: 3px 10px;
  width: 100%;
  height: 100%;
}
.dropdown__content--link:hover {
  background-color: #212e3d;
}

.btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
  padding: 1rem 5rem;
  z-index: 5;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0px;
  border: 1px solid #f8f9fa;
  backface-visibility: none;
  transition: all 0.2s ease-in;
}
.btn:hover {
  transform: scale(1.05);
  border-radius: 3px;
}

.btn-primary {
  background-color: transparent;
}
.btn-primary span {
  transition: all 0.3s ease-in;
}
.btn-primary:hover {
  background-color: #f8f9fa;
  color: #0f151c;
  box-shadow: inset 0rem 0rem 1rem #f8f9fa, 0rem 0.5rem 1.5rem rgba(248, 249, 250, 0.6);
}
.btn-primary:hover span {
  margin-left: 1rem;
}

.card {
  min-width: 30rem;
  border-radius: 3px;
  box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.3);
  backface-visibility: none;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  object-fit: cover;
}
.card a {
  width: 100%;
  background-color: white;
  color: black;
  font-size: 2rem;
  padding: 2rem 0rem;
  text-align: center;
}

.card-feature {
  background-color: #d1d5db;
  color: #1f2937;
  max-width: 40rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card-feature img {
  width: 100%;
  height: 70%;
}
.card-feature .details {
  padding: 1.5rem 0;
  color: #6b7280;
}
.card-feature .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.card-feature .details p {
  font-size: 1.2rem;
}
.card-feature button {
  color: #1f2937;
  text-align: center;
  background-color: #60a5fa;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  transition: all 0.3s ease-in;
}
.card-feature button:hover {
  cursor: pointer;
  background-color: #1d4ed8;
}
.card-feature button:first-of-type {
  margin-right: 2rem;
}

.header-slider {
  max-width: 100vw;
  height: 80vh;
  margin: 10rem auto;
  position: relative;
  z-index: 50;
  /* IN THE END */
  overflow: hidden;
}

.header-slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}

.header-slide-text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
}
.header-slide-text p {
  font-size: 2rem;
}

.header-slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

.slide img {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  border-radius: 5px;
}

.customer-logos {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Slider */
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  margin: 0 1rem;
  cursor: pointer;
}
.slick-dots button {
  display: none;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.blog {
  width: 30rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.blog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-title {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 0;
}
.blog p {
  font-size: 1.2rem;
  padding: 1rem 0;
}
.blog .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #ffb733;
}
.blog .details p,
.blog .details a {
  font-size: 1.5rem;
  font-weight: 400;
}
.blog .details a:hover {
  color: #93c5fd;
  text-decoration: underline;
}

.gallery__item {
  flex: 1 1 25rem;
  height: 25rem;
  margin: 1.5rem;
  background-color: gray;
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 10s ease;
}
.gallery__item img:hover {
  transform: scale(1.2);
}

#header {
  position: relative;
  min-height: 10vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 5rem;
}
@media screen and (max-width: 75em) {
  #header {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 56.3em) {
  #header {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 37.6em) {
  #header {
    padding: 1rem 2rem;
  }
}

.content-loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.content-loader-img {
  height: 50%;
}
.content-loader-text {
  height: 20%;
}
.content-loader-img, .content-loader-text {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: auto;
  background-color: #5d6974;
}
.content-loader-img::before, .content-loader-text::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #5d6974 0%, #adb5bd 30%, #5d6974 100%);
  transform: translateX(-100%);
  animation: slideIn 1.2s cubic-bezier(0.25, 0.81, 0.36, 1) infinite;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}
.rae {
  margin-top: 8rem;
}
.rae__title + p {
  padding: 10rem;
  text-align: center;
}
.rae__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
  width: 90%;
  margin: 8rem auto;
}
.rae__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 25rem;
}
@media screen and (max-width: 56.3em) {
  .rae__item {
    flex: 0 1 20rem;
  }
}
@media screen and (max-width: 37.6em) {
  .rae__item {
    flex: 0 1 15rem;
  }
}
.rae__item p {
  padding-top: 1rem;
}
.rae__item .im {
  font-size: 7rem;
}
@media screen and (max-width: 75em) {
  .rae__item .im {
    font-size: 6rem;
  }
}
@media screen and (max-width: 56.3em) {
  .rae__item .im {
    font-size: 5rem;
  }
}
@media screen and (max-width: 37.6em) {
  .rae__item .im {
    font-size: 4;
  }
}
@media screen and (max-width: 75em) {
  .rae .card.rae-item {
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (max-width: 56.3em) {
  .rae .card.rae-item {
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 37.6em) {
  .rae .card.rae-item {
    width: 15rem;
    height: 15rem;
  }
}

.out-reach {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../img/img-5.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 10rem;
}
.out-reach h2 {
  padding: 5rem;
}
.out-reach .out-reach-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.our-team__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10rem 5rem;
}
.our-team__member {
  width: 15rem;
  flex: 0 1 20rem;
}
.our-team__member img {
  width: 15rem;
  height: 15rem;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  margin: 2rem;
}
.our-team__member h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.our-team__member p {
  font-size: 1.6rem;
  padding: 0.5rem;
  text-align: center;
}
.our-team__member .contact-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.our-team__member .contact-links .im {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 1px solid #f3f4f6;
  color: #f3f4f6;
  border-radius: 50%;
  padding: 0.8rem;
  transition: all 200ms ease-in;
}
.our-team__member .contact-links .im:hover {
  border: 1px solid #9ca3af;
  color: #9ca3af;
}
.our-team .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aen-at-glance {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/img-6.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #e5e7eb;
}
.aen-at-glance__heading {
  width: 100%;
}
.aen-at-glance__desc {
  width: 60%;
  margin-top: 1rem;
  padding: 4rem 0rem;
  padding: 2rem 1rem;
  font-weight: 300;
}
.aen-at-glance__desc a {
  text-decoration: underline !important;
  color: #e5e7eb !important;
}
.aen-at-glance__desc a:hover {
  color: #f9fafb !important;
}
.aen-at-glance__numbers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  padding: 4rem 0rem;
}
.aen-at-glance__numbers--volunteers, .aen-at-glance__numbers--participants, .aen-at-glance__numbers--members, .aen-at-glance__numbers--partners, .aen-at-glance__numbers--colleges {
  margin: 2rem 0 0 0;
}
.aen-at-glance__numbers--volunteers h3, .aen-at-glance__numbers--participants h3, .aen-at-glance__numbers--members h3, .aen-at-glance__numbers--partners h3, .aen-at-glance__numbers--colleges h3 {
  font-size: 6rem;
}
.aen-at-glance__numbers--volunteers p, .aen-at-glance__numbers--participants p, .aen-at-glance__numbers--members p, .aen-at-glance__numbers--partners p, .aen-at-glance__numbers--colleges p {
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem 0rem;
}

.blogs {
  background: black;
  padding-bottom: 5rem;
}
.blogs h2 {
  font-weight: lighter;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 0;
}
.blogs__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery {
  background-color: black;
  padding-bottom: 5rem;
}
.gallery h2 {
  margin-top: 0 !important;
}
.gallery p {
  padding: 5rem 8rem;
  text-align: center;
}
.gallery__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.collaborators {
  background: linear-gradient(to bottom right, rgba(37, 99, 235, 0.2), rgba(52, 211, 153, 0.6)), url("../../img/partners-bg.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.collaborators__heading {
  width: 100%;
  padding: 1rem;
  margin: 10rem 0rem;
}
.collaborators__container {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.collaborators__container--box {
  width: 80%;
  background: transparent;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collaborators__container--box img {
  width: 15rem;
  height: 15rem;
  border-radius: 25%;
}
.collaborators__container--box img:not(:last-child) {
  margin-right: 4rem;
}

.get-in-touch {
  background-color: black;
  padding: 8rem 0rem;
}
.get-in-touch .contact-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.get-in-touch .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-in-touch .contact .contact-icon {
  margin-right: 2.5rem;
}
.get-in-touch .contact .contact-icon .im {
  color: #ffc04d;
}
.get-in-touch .contact .contact-text h3 {
  font-weight: bolder;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  text-align: left;
}
.get-in-touch .contact .contact-text p {
  font-size: 1.1rem;
  font-weight: lighter;
  padding-top: -1rem;
  text-align: left;
}
.get-in-touch .secondary-heading {
  padding: 4rem 0;
  font-size: bolder;
}
.get-in-touch .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.get-in-touch .social-links .link {
  margin: 0 2rem;
  flex: 0 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-in-touch .social-links .link .im {
  font-size: 3rem;
  color: #ffc04d;
  transition: all 300ms ease-in;
}
.get-in-touch .social-links .link .im:hover {
  transform: scale(1.3);
}

.footer {
  margin-top: 5rem;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease;
}
.footer__links-link, .footer__copyright p {
  color: #8c8c8c;
}
.footer__links-link:hover, .footer__copyright p:hover {
  color: #ced4da;
}
.footer__copyright, .footer__links {
  width: 45%;
  border-top: 0.2rem solid #8c8c8c;
  padding: 2rem 1rem;
}

.apod {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5;
  width: 100%;
  height: 90vh;
  margin: 10rem auto;
  animation: popUp 1.5s cubic-bezier(0.56, 0.01, 0.47, 1.01);
}
@media screen and (max-width: 75em) {
  .apod {
    height: 65vh;
  }
}
@media screen and (max-width: 995px) {
  .apod {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 56.3em) {
  .apod {
    justify-content: space-between;
  }
}
@media screen and (max-width: 805px) {
  .apod {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-evenly;
    align-items: stretch;
  }
}
.apod__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 45%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1348px) {
  .apod__container {
    width: 45%;
  }
}
@media screen and (max-width: 805px) {
  .apod__container {
    width: auto;
    padding: 2rem;
  }
}
.apod__container--media {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.apod__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  height: 40rem;
  padding: 2rem;
  width: 45%;
}
@media screen and (max-width: 1348px) {
  .apod__text {
    width: 48%;
  }
}
@media screen and (max-width: 75em) {
  .apod__text {
    width: 50%;
  }
}
@media screen and (max-width: 995px) {
  .apod__text {
    padding: 1rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 56.3em) {
  .apod__text {
    width: 53%;
  }
}
@media screen and (max-width: 805px) {
  .apod__text {
    height: auto;
    width: auto;
    padding: 2rem;
    text-align: center;
  }
}
.apod__text h3 {
  width: 100%;
  padding: 2rem;
  font-size: 3.6rem;
  font-weight: 400;
}
@media screen and (max-width: 1269px) {
  .apod__text h3 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 56.3em) {
  .apod__text h3 {
    font-size: 3rem;
  }
}
.apod__container, .apod__text {
  overflow: hidden;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 56.3em) {
  .apod__container, .apod__text {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
@media screen and (max-width: 995px) {
  .apod__container, .apod__text {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#particle-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
