.primary-heading {
	display: block;
	font-size: 3.6rem;
	font-weight: lighter;
	text-align: center;
	color: $black;

	padding: 1rem 0rem;
	margin: 0rem auto;

	background-color: $gray;
}

.secondary-heading {
	display: block;
	font-size: 3.6rem;
	font-weight: lighter;
	text-align: center;
	color: $gray;

	padding: 1rem 0rem;
	margin: 1rem auto;
}
