.get-in-touch {
	background-color: black;
	padding: 8rem 0rem;

	.contact-details {
		@include flex-space-evenly;
	}

	.contact {
		@include flex-space-between;

		.contact-icon {
			margin-right: 2.5rem;

			.im {
				color: lighten(orange, 15%);
			}
		}

		.contact-text {
			h3 {
				font-weight: bolder;
				font-size: 1.4rem;
				padding-bottom: 1rem;
				text-align: left;
			}

			p {
				font-size: 1.1rem;
				font-weight: lighter;
				padding-top: -1rem;
				text-align: left;
			}
		}
	}

	.secondary-heading {
		padding: 4rem 0;
		font-size: bolder;
	}

	.social-links {
		@include flex-center;
		flex-wrap: wrap;

		.link {
			margin: 0 2rem;
			flex: 0 0 3rem;
			@include flex-center;
			.im {
				font-size: 3rem;
				color: lighten(orange, 15%);
				transition: all 300ms ease-in;

				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
}
