.rae {
	//
	margin-top: 8rem;

	&__title {
		//
	}

	&__container {
		@include flex-space-evenly;
		flex-wrap: wrap;
		grid-row-gap: 5rem;
		grid-column-gap: 5rem;
		width: 90%;
		margin: 8rem auto;
	}

	&__item {
		@include flex-center-vertical;
		padding: 4rem 2rem;
		flex: 1 1 40rem;
		cursor: pointer;

		p {
			padding-top: 1rem;
		}

		.im {
			font-size: 7rem;
		}
	}

	// .card:hover .im.im-microphone {
	// 	background-color: #32cd32;
	// 	background-clip: text;
	// 	color: transparent;
	// }
}
