.rae {
	//
	margin-top: 8rem;

	&__title + p {
		padding: 10rem;
		text-align: center;
	}

	&__container {
		@include flex-space-evenly;
		flex-wrap: wrap;
		grid-row-gap: 5rem;
		grid-column-gap: 5rem;
		width: 90%;
		margin: 8rem auto;
	}

	&__item {
		@include flex-center-vertical;
		flex: 0 1 25rem;

		@include respond(tab-port) {
			flex: 0 1 20rem;
		}

		@include respond(phone) {
			flex: 0 1 15rem;
		}

		p {
			padding-top: 1rem;
		}

		.im {
			font-size: 7rem;

			@include respond(tab-land) {
				font-size: 6rem;
			}

			@include respond(tab-port) {
				font-size: 5rem;
			}

			@include respond(phone) {
				font-size: 4;
			}
		}
	}

	// .card:hover .im.im-microphone {
	// 	background-color: #32cd32;
	// 	background-clip: text;
	// 	color: transparent;
	// }

	.card.rae-item {
		@include respond(tab-land) {
			width: 25rem;
			height: 25rem;
		}

		@include respond(tab-port) {
			width: 20rem;
			height: 20rem;
		}

		@include respond(phone) {
			width: 15rem;
			height: 15rem;
		}
	}
}
