.blog {
	width: 35rem;
	padding: 0.5rem;
	border-radius: 0.5rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&-title {
		font-size: 1.4rem;
		font-weight: 400;
	}

	p {
		font-size: 1.2rem;
	}

	.details {
		@include flex-space-between;
		border-top: 2px solid lighten(orange, 10%);

		p,
		a {
			font-size: 1.5rem;
			font-weight: 400;
		}

		a:hover {
			color: #93c5fd;
			text-decoration: underline;
		}
	}
}
