.btn-container {
	position: relative;
	@include flex-center;
	padding: 1rem 5rem;
	z-index: 5;
}

.btn {
	display: inline-block;
	text-align: center;
	padding: 1rem 2rem;
	border-radius: 0px;
	border: 1px solid $gray;
	backface-visibility: none;

	// transition
	transition: all 0.2s ease-in;

	&:hover {
		transform: scale(1.05);
		border-radius: 3px;
	}
}

.btn-primary {
	background-color: transparent;
	span {
		transition: all 0.3s ease-in;
	}

	&:hover {
		background-color: $gray;
		color: $color-primary;

		box-shadow: inset 0rem 0rem 1rem rgba($gray, 1),
			0rem 0.5rem 1.5rem rgba($gray, 0.6);

		span {
			margin-left: 1rem;
		}
	}
}
