.navigation {
	position: fixed;
	width: 100%;
	min-height: 10vh;
	z-index: 50;
	padding: 0 5%;
	transition: all 100ms ease-in-out;

	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo-container {
		@include flex-center;
		width: 10%;

		.logo {
			display: inline-block;
			font-weight: 300;
			color: $gray;
			width: 100%;
			height: 100%;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.nav-links {
		width: 60%;

		align-self: stretch;

		display: flex;
		align-items: center;
		justify-content: space-evenly;

		@include respond(tab-port) {
			display: none;
		}

		a {
			font-weight: 300;
		}

		.im {
			font-size: 1.1rem;
			margin-left: 0.5rem;
			margin-top: 0.5rem;
		}
	}

	.nav-link {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
