.apod {
	@include flex-space-evenly;
	// align-items: flex-start;

	width: 100%;
	height: 90vh;
	margin: 5rem auto;

	&__container {
		@include flex-center;
		height: 40rem;

		overflow: hidden;
		background-position: center;
		background-size: cover;

		&--media {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}

	&__text {
		@include flex-v-space-evenly;
		text-align: left;
		height: 40rem;
		padding: 2rem;

		h3 {
			width: 100%;
			padding-bottom: 2rem;
			font-size: 3.6rem;
			font-weight: 400;
		}
	}

	&__container,
	&__text {
		width: 45%;
		overflow: hidden;
		box-shadow: 0 8px 8px rgba($black, 0.2);
	}
}
