.apod {
	@include flex-space-evenly;

	width: 100%;
	height: 90vh;
	margin: auto;
	color: $gray-dark;

	&__container {
		@include flex-center;

		overflow: hidden;
		background-position: center;
		background-size: cover;

		&--media {
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}
	}

	&__text {
		@include flex-v-space-evenly;
		text-align: left;
		padding: 2rem;

		h3 {
			width: 100%;
			font-size: 3.6rem;
			font-weight: 400;
		}
	}

	&__container,
	&__text {
		width: 45%;
		height: 40rem;
		overflow: hidden;
		box-shadow: 0 8px 8px rgba($black, 0.2);
	}
}
